<mat-toolbar color="primary">
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <span>My App</span>
  <span class="example-spacer"></span>
  <button
    mat-icon-button
    class="navButton"
    aria-label="Example icon-button with heart icon"
  >
  Inicio
  </button>
  <button
    mat-icon-button
    class="navButton"
    aria-label="Example icon-button with share icon"
  >
  Contacto
  </button>
</mat-toolbar>
<!-- 
<div class="sidenav">
    <a href="/"><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon> Home</a>
    <a href="#"><mat-icon>contact_support</mat-icon> Contact</a>
</div> -->
