<mat-toolbar color="primary">
  <img src="../../../assets/logo.png" height="50" width="50" style="border-radius:100px; margin-right: 1rem;">
  <span>SortizM Dev's Website</span>
  <span class="example-spacer"></span>
  <div class="buttonsToolbar">
    <a href="/"><button mat-button aria-label="Home button">Home</button></a>
    <a href="/contact"><button mat-button aria-label="Contact button">Contact</button></a>
  </div>
</mat-toolbar>
<!-- 
<div class="sidenav">
    <a href="/"><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon> Home</a>
    <a href="#"><mat-icon>contact_support</mat-icon> Contact</a>
</div> -->
