h1 {
    line-height: 1;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
}

.example-card {
    max-width: 400px;
    margin-right: 2rem;
}

.mat-card {
    background: white;
    border-bottom: 4px solid #1a237e;
}

.mat-card-content{
    color: black;
}

.buttonsFooterCard{
    margin: 1rem;
    button a {
        text-decoration: none;
        color: white;
    }
}

.mat-card:not([class*=mat-elevation-z]) {
    box-shadow: 0px 3px 4px 1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
}

.upsince {
    color: #228B22;
}

.inprogress {
    color: salmon;
}

.githubButton {
    margin-top: 5px;
    img{
        width: 50px;
    }
}
.mat-card-title {
    img {
        border-radius: 20px;
        background-color: #333;
    }
}