h1 {
    line-height: 1;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
}

.example-card {
    max-width: 400px;
  
}

.mat-card {
    background: white;
}

.mat-card-content{
    color: black;
}

.buttonsFooterCard{
    margin: 1rem;
}