<mat-card class="example-card">
  <mat-card-title class="color-primary">
    Valorank (Spanish Version)
  </mat-card-title>
  <mat-card-subtitle class="text-muted">
    Up since 09/2022
  </mat-card-subtitle>
  <mat-card-content class="text-secondary">
    Project made in NodeJS, to retrieve data from Trackers to be displayed as JSON data. You can also retrieve the information in Spanish.
  </mat-card-content>
  <mat-card-footer class="cardFooter">
    <div class="text-right buttonsFooterCard">
      <button mat-raised-button color="primary"><a href="/valorankweb">Go to Valorank</a></button>
    </div>
    <mat-progress-bar mode="determinate" value="100" color="red"></mat-progress-bar>
  </mat-card-footer>
</mat-card>